name: PY
channels:
  - pyg
  - pytorch
  - conda-forge
  - bioconda
dependencies:
  # Core
  - python=3.10
  - pip
  - setuptools
  - wheel
  - git

  # R + Python bridge (must use conda)
  - r-base=4.4.*
  - rpy2
  - r-mclust

  # PyTorch + PyG (for STAGATE_pyG / GraphST)
  - pytorch=2.0.*
  - torchvision
  - cpuonly
  - pyg

  # Scientific stack
  - numpy=1.24.*
  - pandas=2.0.*
  - scipy=1.10.*
  - scikit-learn=1.2.*
  - scikit-misc
  - statsmodels
  - matplotlib=3.7.*
  - seaborn=0.12.*
  - h5py
  - numba
  - networkx
  - python-igraph
  - leidenalg
  - louvain
  - umap-learn

  # Single-cell / ST
  - anndata=0.9.1
  - scanpy=1.9.3
  - zarr

  # Utilities / notebook / IO
  - jupyterlab
  - ipykernel
  - ipywidgets
  - opencv
  - openpyxl
  - pyyaml
  - requests
  - tqdm
  - rich
  - jieba
  - wordcloud
  - mlxtend
  - gseapy
  - pyarrow

  - pip:
      - absl-py==2.3.1
      - astunparse==1.6.3
      - chardet==5.2.0
      - et-xmlfile==2.0.0
      - filelock==3.19.1
      - flatbuffers==25.2.10
      - fsspec==2025.9.0
      - gast==0.6.0
      - google-pasta==0.2.0
      - grpcio==1.74.0
      - imageio==2.37.2
      - keras==3.11.3
      - libclang==18.1.1
      - markdown==3.9
      - markdown-it-py==4.0.0
      - mdurl==0.1.2
      - ml-dtypes==0.5.3
      - mpmath==1.3.0
      - namex==0.1.0
      - opt-einsum==3.4.0
      - pot==0.9.5
      - protobuf==6.32.0
      - pyeclat==1.0.2
      - pytz-deprecation-shim==0.1.0.post0
      - sympy==1.14.0
      - tensorboard==2.20.0
      - tensorboard-data-server==0.7.2
      - tensorflow==2.20.0
      - termcolor==3.1.0
      - werkzeug==3.1.3

      # ==== 4个目标 ST 包 ====
      - SpaGCN==1.2.7
      - GraphST==1.1.1
      - git+https://github.com/JinmiaoChenLab/SEDR.git@master
      - git+https://github.com/QIFEIDKN/STAGATE_pyG.git@main
prefix: ./envs/conda/PY
